<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
						
				<!-- Header -->
					<div id="header" class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="index.html"><img src="images/jj_logo.png"></a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="work.html">Work</a>
										<ul>
										
											<li><a href="pages/print.html">Print</a></li>
											<li><a href="pages/identity.html">Identity</a></li>
											<li><a href="pages/webmobile.html">Web / Mobile</a></li>
											<li><a href="pages/sketchbook.html">Sketchbook</a></li>
										
										</ul>
									</li>
									<li><a href="left-about.html">About</a></li>
									<li class="break"><a href="resume.html">Resume</a></li>
									<li><a href="blog.html">Blog</a></li>
								</ul>
							</nav>

					</div>

				<!-- Hero -->
					<section id="hero" class="container">
						
						
				
					</section>

			</div>


		<!-- Features 2 -->
			<div class="wrapper">
			
				<section class="container">
					<header class="major">
						<h2><ul >
									<li style="display:inline; margin-left: 1em;"><a href="work.html">All</a></li>
									<li style="display:inline; margin-left: 1em;"><a href="pages/print.html">Print</a></li>
									<li style="display:inline; margin-left: 1em;"><a href="pages/identity.html">Identity</a></li>
									<li style="display:inline; margin-left: 1em;"><a href="pages/webmobile.html">Web / Mobile</a></li>
									<li style="display:inline; margin-left: 1em;"><a href="pages/sketchbook.html">Sketchbook</a></li>
									
								</ul></h2>
						
					</header>
					<div class="row features">
						<section class="4u feature">
							<div class="image-wrapper first">
								<a href="http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438" class="image full"><img src="images/main_8.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044" class="image full"><img src="images/pic03.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Elysium-355393900" class="image full"><img src="images/pic04.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
					</div>
					
						<div class="row features">
						<section class="4u feature">
							<div class="image-wrapper first">
								<a href="http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438" class="image full"><img src="images/main_8.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044" class="image full"><img src="images/pic03.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Elysium-355393900" class="image full"><img src="images/pic04.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
					</div>
					
				</section>
			
			</div>
			

		<!-- Promo -->
			<div id="promo-wrapper">
			
				<section id="promo">
					<h2>Like what you see? </h2>
					<a href="http://ineedchemicalx.deviantart.com/art/A-breath-of-Hope-366359145" class="button">Check Out My Resume</a>
				</section>
			
			</div>
			
			<div class="wrapper">
			
				<section class="container">
					<header class="major">
						<h2>Some Other Featured Projects</h2>
						
					</header>
				<div class="row features">
						<section class="4u feature">
							<div class="image-wrapper first">
								<a href="http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438" class="image full"><img src="images/main_8.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044" class="image full"><img src="images/pic03.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Elysium-355393900" class="image full"><img src="images/pic04.jpg" alt="" /></a>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
							vel sem sit dolor neque semper magna lorem ipsum.</p>
						</section>
					</div>
					
						
					
				</section>
			
			</div>
			