
		<!-- Features 2 -->
			<div class="wrapper">
			
				<section class="container">
					<header class="major">
						<h2>Take a Journey Across Mediums</h2>
						<span>Bridge the gap between print and web.</span>
					</header>
					<div class="row features">
						<section class="4u feature">
							<div class="image-wrapper first">
								<a href="http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438" class="image full"><img src="images/main_8.jpg" alt="" /></a>
							</div>
							<p>Making printed things will always have a special place in my heart. These skills are my rock and I pull from them when I design for the web.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044" class="image full"><img src="images/pic03.jpg" alt="" /></a>
							</div>
							<p>My knowledge of branding has followed me to the UI world.  A solid identity in both print,web and mobile can make any brand powerful.</p>
						</section>
						<section class="4u feature">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Elysium-355393900" class="image full"><img src="images/pic04.jpg" alt="" /></a>
							</div>
							<p>Site maps, wireframes, mock-ups, prototypes. These all play critical roles in UX/UI Design.  I have an intuition for how these things work.</p>
						</section>
					</div>
					<ul class="actions major">
						<li><a href="#" class="button">View My Work</a></li>
					</ul>
				</section>
			
			</div>

		
			
	<!-- Promo -->
			<div id="promo-wrapper">
			
				<section id="promo">
					<h2>I'm classically trained. </h2>
					<a href="http://ineedchemicalx.deviantart.com/art/A-breath-of-Hope-366359145" class="button">Check Out My Hand Skills</a>
				</section>
			
			</div>
			
	<!-- Features 1 -->
			<div class="wrapper">

				<section class="container">
					<header class="major">
						<h2 class="features">What is Amy up to?</h2>
					</header>
					<div class="row">
						<section class="6u feature2">
							<div class="image-wrapper first">
								<a href="http://ineedchemicalx.deviantart.com/art/Mind-is-a-clear-stage-375431607" class="image full first"><img src="images/pic01.jpg" alt="" /></a>
							</div>
							<header>
								<h2>Blog Post #1</h2>
							</header>
							<p>DATE<br>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel 
							sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed 
							adipiscing elit. Curabitur vel sem sit.<br>VIEW MORE ></p>
							
						</section>
						<section class="6u feature2">
							<div class="image-wrapper">
								<a href="http://ineedchemicalx.deviantart.com/art/Freebird-378379295" class="image full"><img src="images/pic02.jpg" alt="" /></a>
							</div>
							<header>
								<h2>Blog Post #2</h2>
							</header>
							<p>DATE<br>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel 
							sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed 
							adipiscing elit. Curabitur vel sem sit. <br>VIEW MORE ></p>
							
						</section>
					</div>
				</section>

			</div>

